Latihan Kelompok 2 
1. Mohammad Syahruh Hanif 
2. Nurindarlina
3. Rihan Adlillah 
4. Thia Marliana 
5. Thoding Dea Pallaqi

In [1]:
import pandas as pd
import numpy as np

In [2]:
#membuat list (state, city) tuples dan wrapping dalam data frame
university_towns = []
with open ("C:/Users/asani/Berkas Data Science Nurindarlina Pintar X Amman/17. Data Preparation/university_towns.txt") as file:
    for line in file :
        if '[edit]' in line:
            #remember this 'state' until the next is found
            state = line
        else :
            #otherwise we have a city; keep 'state' as last-seen
            university_towns.append((state,line))
            
university_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [3]:
#mengatur kolom sebagai state dan RegionName
towns_df = pd.DataFrame(university_towns, columns=['state', 'RegionName'])
towns_df.head()
#pandas akan mengambil elemen dalam list dan mengatur state ke kolom kiri, dan regionname ke kolom kanan

             state                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [4]:
#fungsi untuk menggunakan fitur apply map 
def get_citystate(item):
    if ' (' in item: 
        return item[:item.find('(')]
    elif '[' in item:
        return item[:item.find('[')]
    else: 
        return item

In [5]:
towns_df = towns_df.applymap(get_citystate)

In [6]:
towns_df.head()

     state     RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [7]:
towns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       517 non-null    object
 1   RegionName  517 non-null    object
dtypes: object(2)
memory usage: 8.2+ KB

In [8]:
towns_df.dtypes.value_counts()

object    2
Name: count, dtype: int64

In [9]:
towns_df.isnull().sum()

state         0
RegionName    0
dtype: int64

In [10]:
towns_df['state'].is_unique
# output false jika terdapat nilai sama dalam satu kolom 
# output true jika tidak terdapat nilai yang sama

False

In [11]:
towns_df['RegionName'].is_unique

False

In [12]:
towns_df.describe()
#menampilkan fungsi statistik pada dataframe

               state RegionName
count            517        517
unique            50        489
top     Pennsylvania    Athens
freq              43          3

In [13]:
towns_df.loc[0:5, 'RegionName']

0          Auburn
1        Florence
2    Jacksonville
3      Livingston
4      Montevallo
5            Troy
Name: RegionName, dtype: object